<doctype HTML>

<style> body {background-color:lightblue; text-align: center;} ul {list-style: none;} </style>

<head>
  <h1>--==:: The Fremont Deli ::==--</h1>
  last update : Nov 5 2019
  |<a href="/togo"> TOGO </a>|
</head>
<body>
  <br><br><br>
  <p>
    ########################################<br>
    #I will miss you all my Fremont Friends#<br>
    #    Shoutouts to Pizza Pete           #<br>
    ########################################<br>
  </p>
  <p>
    <h3>Welcome!</h3> 
    This is a website I made to help make To-Go's at my work at the Fremont Pcc Deli.

    <h3>How do I use this?</h3>
    Its easy! Click the <a href="/togo">TOGO</a> link, fill it out with everything you have prepped, press submit, and you have your list! No more looking through the scale to find what goes with what! No more memorizing!
  </p>
</body> 
