<doctype HTML>
<style>body {background-color:lightblue;text-align: center;font-family: "helvetica", Helvetica, sans;} input.item {transform: scale(1.4); margin: 5px;} ul {list-style: none;}</style>
<head>
  <h1>--==:: The Fremont Deli ::==--</h1>
  last update : May 6 2020 <br>
  <br>
  |<a href="/togo"> TOGO </a>|
</head>
<body>
  <br><br><br>
  <p>
    <h3>Welcome!</h3> 
    This is a website I made to help make To-Go's at my work at the Fremont Pcc Deli,<br>though now I work at the Ballard location.<br>Please Cate Hardy give me a job in IT<br><br>
    <a href="https://www.speedrun.com/famaze">Did you know I have a speedrun world record</a>

    <h3>How do I use this?</h3>
    Its easy! Click the <a href="/togo">TOGO</a> link, fill it out with everything you have prepped, press submit, and you have your list!<br>
    No more looking through the scale to find what goes with what! No more memorizing!
    
    <h3>What if I have a problem with the website?</h3>
    You can easily contact me at wootenwesley@gmail.com<br>
    Or maybe you even have a cool idea for a way this webspace could help you in another shift?<br>
    Think about it. 
  </p>

</body> 
