{% extends "base.html" %}

{% block content %}
<p> The following is an email from a journeyman PCC employee to CEO Cate Hardy </p>
<div id="sobig">
  <br>PCC: Be A Part Of Something Bigger
  <br>
  <br>     Dear Cate,
  <br>
  <br>     I am writing to you as a longtime PCC employee, wishing to offer
  <br>
  <br>some perspective on the dynamics I see taking place in our company. I
  <br>
  <br>am writing not only on behalf of myself, but also for my incredible
  <br>
  <br>coworkers at Greenlake Aurora (both past and present), and the
  <br>
  <br>entire community of PCC employees. I would like to thank you in
  <br>
  <br>advance for taking the time and attention to hear what I have to say.
  <br>
  <br>
  <br>     Although I only recently celebrated my ten-year anniversary, I
  <br>
  <br>first started at PCC twenty years ago. I was hired in the produce
  <br>
  <br>department at the old Ravenna store, I worked night crew at old
  <br>
  <br>Fremont, grand-opened the Edmonds store in 2008, and have been at
  <br>
  <br>Greenlake Aurora since 2013. I have left PCC several times to do
  <br>
  <br>other things, but I have returned each time because there was
  <br>
  <br>something special about us. Our stores were warm and inviting, the
  <br>
  <br>staff were genuinely happy to be at work, and the customers were
  <br>
  <br>dedicated, loyal, and grateful. I have worked many places over the
  <br>
  <br>years, but PCC was always the best.
  <br>
  <br>     Over the last several years, but especially since the rebranding,
  <br>
  <br>I have become increasingly concerned about the direction in which our
  <br>
  <br>company is headed. Every company goes through changes, and I have seen
  <br>
  <br>PCC go through many, but it is only recently that these changes have
  <br>
  <br>had an overwhelmingly negative effect on our staff, our customers, and
  <br>
  <br>our co-op. I have seen the company I loved transformed into something
  <br>
  <br>I barely recognize, and it cuts me to the the core every day. I know I
  <br>
  <br>am not alone in this.
  <br>
  <br>     It's easy to merely criticize, while solutions require thought
  <br>
  <br>and effort; I do not wish to merely criticize, nor do I believe that I
  <br>
  <br>have all the solutions. There are a number of deeply interconnected
  <br>
  <br>issues facing us, but I would like to address several key issues
  <br>
  <br>individually and offer opportunities for us to do to better. Using
  <br>
  <br>Greenlake Aurora as an example, but knowing these issues to be
  <br>
  <br>prevalent in many of our stores, I write this because I cannot bear to
  <br>
  <br>see the company I care about heading down the wrong path, and I write
  <br>
  <br>in the knowledge that I am not alone in these views. I believe we
  <br>
  <br>can do better.
  <br>
  <br>
  <br>ISSUE 1: STAFF MORALE IS LOWER THAN EVER.
  <br>
  <br>     Last year, at the all-staff meetings, you opened each session by
  <br>
  <br>telling us the responses to two questions from the employee survey:
  <br>
  <br>"Do you feel supported by management," and "Do you trust the
  <br>
  <br>leadership of the company?" The answer to each was an overwhelming
  <br>
  <br>"No." In the intervening year since receiving this alarming feedback
  <br>
  <br>from the majority of the staff, the response has been continued cuts
  <br>
  <br>to staffing, continued changes to our stores, and an increasingly
  <br>
  <br>hierarchical decision-making process which is hurting our staff, our
  <br>
  <br>customers, and our business.
  <br>
  <br>     When I started at Greenlake in 2013, I had never been in a store
  <br>
  <br>which was so vibrantly alive; humming with business all day long,
  <br>
  <br>staff in every aisle, three or four check stands running most of the
  <br>
  <br>time. There were always seven or eight people in the break room, and
  <br>
  <br>the entire staff was tighter-knit than anything I had experienced
  <br>
  <br>before. There was a magic to working (and shopping) in our store.
  <br>
  <br>     Yes, it was often crowded, and we all said "excuse me," more often,
  <br>
  <br>but it was alive and pulsing, like a beating heart. We were filled
  <br>
  <br>with long-time customers shopping for the family, neighborhood folks,
  <br>
  <br>and people who went out of their way to shop at PCC. Every day we could
  <br>
  <br>feel a sense of accomplishment, having done our jobs well and served
  <br>
  <br>our customers to the best of our abilities.
  <br>
  <br>     In the five years since Greenlake Village opened, we have seen
  <br>
  <br>our sales and customer count plummet, our staffing drastically
  <br>
  <br>reduced, and have been forced to adopt an increasing number of
  <br>
  <br>policies and procedures which make our job more difficult and less
  <br>
  <br>rewarding. The staff are stressed, doing two or three jobs apiece, and the
  <br>
  <br>customers feel the shift in the store. The employees work (and the
  <br>
  <br>customers shop)
  <br>
  <br>in a chaotic atmosphere, where people are constantly pulled out of
  <br>
  <br>their departments to do other jobs. Customers have a hard time finding
  <br>
  <br>staff on the floor to answer
  <br>
  <br>questions, and we struggle to make it through our shifts with our
  <br>
  <br>sanity intact. We have lost good employees because of this taxing,
  <br>
  <br>grinding environment, and we are sure to lose more as time goes on.
  <br>
  <br>
  <br>OPPORTUNITY 1: FULL STAFFING MUST BE A PRIORITY
  <br>
  <br>     Cuts to staffing affect our customers, our sales, and our
  <br>
  <br>employees. In years past I have seen labor hours go down due to
  <br>
  <br>seasonal shopping trends, and the result has always been the same:
  <br>
  <br>sales go down so we cut labor, but decreased staff on the sales floor
  <br>
  <br>affects customer satisfaction, which drives our sales down further; I
  <br>
  <br>have seen this pattern play out over and over again, and now it seems
  <br>
  <br>to have solidified into baseline policy. One of the things that used
  <br>
  <br>to set us apart from every other grocery store in Seattle is that we
  <br>
  <br>were better staffed than anyone else, and there was always an employee
  <br>
  <br>at hand to ask for help or information. If we want to be a company
  <br>
  <br>that does things differently and better than the other guys, we need
  <br>
  <br>to start here. An employee who feels left out in the wind may stick it
  <br>
  <br>out because they need a job, but a customer who feels left out in the
  <br>
  <br>wind will find a different place to shop.
  <br>
  <br>
  <br>ISSUE 2: GROWING ANIMOSITY BETWEEN THE STAFF AND THE OFFICE
  <br>
  <br>     This is perhaps the most concerning problem facing PCC. We were
  <br>
  <br>started as a co-op and thrived for 50 years under a business model
  <br>
  <br>which placed an emphasis on cooperation and democratic decision
  <br>
  <br>making, but in the last few years we have seen that shift to an
  <br>
  <br>increasingly hierarchical and corporate methodology. The decision
  <br>
  <br>making process has become almost entirely top-down, with little or no
  <br>
  <br>input from the floor staff who actually do the work and interact with
  <br>
  <br>the customers. We used to function with a high degree of autonomy,
  <br>
  <br>where each department and store was able (in large part) to make
  <br>
  <br>decisions based on what worked for their location and their customers,
  <br>
  <br>and we relied on the expertise of our staff to make those decisions
  <br>
  <br>wisely. Whether that was designing our own end caps, letting the deli
  <br>
  <br>decide what dishes to make for the hot bar, or the arrangement of
  <br>
  <br>items on our shelves, we had the ability to be creative and solve
  <br>
  <br>problems on our own, based on what made sense for our store. Now, we
  <br>
  <br>have had our autonomy effectively stripped away, and are forced to
  <br>
  <br>swallow policies and procedures which make very little sense and more
  <br>
  <br>often than not make our jobs more difficult and less satisfying.
  <br>
  <br>     In addition, we have seen the office staff continue to grow while
  <br>
  <br>the floor staff continues to shrink. We work everyday in a chaotic and
  <br>
  <br>stressful environment while the office staff heads to a luxurious (and
  <br>
  <br>no doubt expensive) waterfront building--this is antithetical to co-op
  <br>
  <br>values. For the few to reap the rewards from the work of the many is
  <br>
  <br>not only unethical, it is fiscally irresponsible. Reducing staff to
  <br>
  <br>pay for things we don't need (and should not have) is like cutting the
  <br>
  <br>roots out of a tree to build a treehouse, and a tree with no roots
  <br>
  <br>cannot stand.
  <br>
  <br>
  <br>OPPORTUNITY 2: GIVE THE POWER BACK TO THE PEOPLE
  <br>
  <br>     We need to return to true democratic and co-operative decision
  <br>
  <br>making, where solutions and ideas come from the ground up. Staff and
  <br>
  <br>stores need to have the freedom to make logical decisions for
  <br>
  <br>themselves, whether that be end cap arrangement, deli recipes, shelf
  <br>
  <br>sets, or the management of discontinued items. Something that works
  <br>
  <br>well in Issaquah may
  <br>
  <br>not work at Greenlake or Fremont, and it makes no sense to impose
  <br>
  <br>uniformity on the stores. Each location should be a unique part of a
  <br>
  <br>larger whole, reflecting the communities they serve.
  <br>
  <br>     The continual expansion of the office needs to stop, and the
  <br>
  <br>waterfront office needs to go. The best way to ensure that we are
  <br>
  <br>making decisions which are good for the stores and good for the
  <br>
  <br>company is to integrate a large number of the office staff back into
  <br>
  <br>the stores, and into the departments they serve. No one loses their
  <br>
  <br>job, we increase staffing in the stores, and problems and solutions
  <br>
  <br>will come from first-hand experience and face-to-face interactions
  <br>
  <br>with customers and co-workers, not from a spreadsheet. The remaining
  <br>
  <br>office staff who truly need to be in an office to do their jobs
  <br>
  <br>effectively can move to a more modest, affordable, and central
  <br>
  <br>location. Instead of "Us and Them," we can truly be "Us."
  <br>
  <br>
  <br>ISSUE 3: CONSTANT CHANGES ARE HURTING STAFF AND CUSTOMERS ALIKE
  <br>
  <br>     The number one thing I heard from customers in the lead-up to the
  <br>
  <br>rebranding and in the weeks and months afterwards was "I don't
  <br>
  <br>recognize PCC anymore." The onslaught of changes--to our signage, the
  <br>
  <br>look of our stores, the policies--have all negatively impacted staff
  <br>
  <br>morale and customer experience, and have stripped away many of the
  <br>
  <br>things which made PCC a unique place to work and shop.
  <br>
  <br>     Using the signage as a concrete example, our old signs were
  <br>
  <br>colorful, attractive, informative, and easy to work with. The new
  <br>
  <br>signage is bland, hard to read, and a hassle to utilize. Not only are
  <br>
  <br>they a pain for those of us who do POS, but I have had innumerable
  <br>
  <br>customers complain that the new signs are hard to read and difficult
  <br>
  <br>to decipher. I know there were some issues with the old shelf tags, but we
  <br>
  <br>have treated a stubbed toe by cutting off the leg and replacing it
  <br>
  <br>with an ill-fitting prosthesis. If the entire POS staff had been
  <br>
  <br>consulted, I am certain we could have found a solution together.
  <br>
  <br>     New signage, repainting the stores, the new aprons, the new logo,
  <br>
  <br>taking over the music--these are change for the sake of change, and they all take
  <br>
  <br>something away rather than adding something new and better. PCC stood
  <br>
  <br>out from the crowd because we looked and felt different from the other
  <br>
  <br>guys, but these changes strip away that uniqueness. When they came in
  <br>
  <br>and painted Greenlake white it was like someone came into my house,
  <br>
  <br>stole all the artwork, and erased everything that made it such a homey
  <br>
  <br>place. I have had exactly two customers tell me they liked the new
  <br>
  <br>look, while I have had hundreds tell me how saddened they were. (For
  <br>
  <br>one of my longtime regulars, this was the last straw--after I rang her
  <br>
  <br>up she handed me her PCC card and said "Good luck." She has never been
  <br>
  <br>back.) The decision not to carry calendars alienated countless
  <br>
  <br>members, some of whom have been buying calendars from us for twenty
  <br>
  <br>years. I could go on and on, but suffice it to say that the result of
  <br>
  <br>these changes is overwhelmingly negative and is costing us business.
  <br>
  <br>
  <br>OPPORTUNITY 3: RESTORE THE ELEMENTS WHICH MAKE US UNIQUE
  <br>
  <br>     PCC is an heirloom company, and heirlooms need to be cared for.
  <br>
  <br>Whether it's a tomato or an antique wardrobe, you have to nurture it,
  <br>
  <br>tend to it, and emphasize the things which make it unique and
  <br>
  <br>beautiful. You wouldn't cross a Brandywine with a Monsanto Beefsteak
  <br>
  <br>anymore than than you would sand and spray paint a Louis XIV armoire.
  <br>
  <br>It's not too late to undo many of these changes, and bring back the
  <br>
  <br>things which were appreciated by staff and members alike.  We have
  <br>
  <br>stood for 50 years on the strength of our differences, and with care
  <br>
  <br>and stewardship we can stand for many, many more.
  <br>
  <br>
  <br>ISSUE 4: PUSH FOR GROWTH IS UNSUSTAINABLE
  <br>
  <br>     I have been through new staff orientation twice, once in 1997 and
  <br>
  <br>again in 2008. At each meeting, one of the first things that Mimi told
  <br>
  <br>us is that we only open new stores with cash we have saved, and that
  <br>
  <br>this was part of PCC's commitment to ethical stewardship of our
  <br>
  <br>resources--I can't imagine that this still the case (if this is the
  <br>
  <br>case, then we are putting those resources in the wrong place.) We are
  <br>
  <br>stretched too thin, and I don't see how these new stores can happen
  <br>
  <br>without hurting the ones we already have. We don't have the existing
  <br>
  <br>staffing to support all these new locations, and increasing number of
  <br>
  <br>outside hires means we will soon have a staff which is mainly
  <br>
  <br>comprised of people who simply need a job rather than people who share
  <br>
  <br>a vision.
  <br>
  <br>     Healthy growth has to happen organically and responsibly, and
  <br>
  <br>that growth should be putting more of a good thing into the world. The
  <br>
  <br>growth we are facing now is not healthy, it is cancerous. We are
  <br>
  <br>taking resources from out existing stores to expand our footprint, but
  <br>
  <br>the mark we are leaving is increasingly indistinguishable from
  <br>
  <br>everyone else.
  <br>
  <br>
  <br>OPPORTUNITY 4: FOCUS ON EXISTING STORES FIRST
  <br>
  <br>     If we are going to continue to grow, that growth needs to come
  <br>
  <br>about because we are doing so well that we have outgrown our current
  <br>
  <br>capacity to serve our communities and our customers. We need to get
  <br>
  <br>our stores back to full staffing levels, training up the next
  <br>
  <br>generation of employees who will then move out into new locations and
  <br>
  <br>spread the commitments and passions which have always made PCC unique
  <br>
  <br>place to work and shop.
  <br>
  <br>
  <br>ISSUE 5: ACTIONS DON'T LINE UP WITH WORDS
  <br>
  <br>     The three words which come up most often in emails to the staff
  <br>
  <br>are Community, Integrity, and Transparency, but those important ideals
  <br>
  <br>are not reflected in our day-to day operations. These are big,
  <br>
  <br>important words, and they must have action behind them or they are
  <br>
  <br>just that--words. In the ways I have detailed above, and many more, we
  <br>
  <br>are underserving our customers, our communities, and most importantly,
  <br>
  <br>our staff.
  <br>
  <Br>     Speaking For Myself, but knowing this to be true of many of my
  <br>
  <br>coworkers, as a full-time journeyman employee I am completely and
  <br>
  <br>utterly broke. We have not seen a significant raise in fifteen years,
  <br>
  <br>and our jobs which were once considered high-paying now keep us just
  <br>
  <br>above the poverty level. We have all seen the cost of living triple in
  <br>
  <br>the last decade, while our pay remains well below a true living wage.
  <br>
  <br>Every year we see more and more of our paycheck go to health care costs
  <br>
  <br>and taxes, and every time our contract negotiations come around we see
  <br>
  <br>management trying to give us less and less. All of us are struggling
  <br>
  <br>to keep our heads above water, and many of us are on the verge of
  <br>
  <br>drowning.
  <br>
  <br>     We have been a union shop since I was first hired in 1997, and
  <br>
  <br>part of that commitment to a unionized workplace was to provide the
  <br>
  <br>employees with good wages and a stable work environment--we no longer
  <br>
  <br>have that. If we are going to live up to the statement that "Community
  <br>
  <br>is our middle name," we need to value the work of our employees--the
  <br>
  <br>community which makes this business function on a daily basis. We live
  <br>
  <br>in one of the most progressive cities in the world, and I know that
  <br>
  <br>people would flock to us if they knew their dollars were going to
  <br>
  <br>directly support the people who serve them day after day, to provide a
  <br>
  <br>livelihood for the people they know and trust. We could become the
  <br>
  <br>most successful grocery store in Seattle overnight based on the
  <br>
  <br>strength of this alone.
  <br>
  <br>
  <br>OPPORTUNITY 5: PUT THE WORDS INTO ACTION
  <br>
  <br>     We stand at a crossroads--as a community, as a company, and as a
  <br>
  <br>country. The divide between "Us" and "Them" is sharper than ever, and
  <br>
  <br>the animosities which come with it are as strong as they have ever
  <br>
  <br>been. We have an opportunity before us, an opportunity to choose to do
  <br>
  <br>things differently and show that it works. We have an opportunity to
  <br>
  <br>show that a multi-million dollar company can redefine what it means to
  <br>
  <br>be successful, that we can thrive and grow and improve the lives of
  <br>
  <br>everyone involved; staff, customers, and community alike.
  <br>
  <br>
  <br>     If we are going to embody Community, we need to pay our staff a
  <br>
  <br>true living wage,
  <br>
  <br>to provide a livelihood which values what we do every day. We need to bring back
  <br>
  <br>the members we have lost as well as attracting new members, by showing
  <br>
  <br>them that choosing PCC is not just choosing a place to buy groceries,
  <br>
  <br>but it is participating in something that is bigger than themselves.
  <br>
  <br>We have an opportunity to show the world that the status quo isn't the
  <br>
  <br>only option available, and that better for everyone truly IS better
  <br>
  <br>for everyone.
  <br>
  <br>     We need to increase member benefits and member ownership of
  <br>
  <br>PCC--it was started as a community, and we need to strengthen the
  <br>
  <br>bonds which kept us strong for 50 years. We need to make PCC a
  <br>
  <br>destination for new members, but also a place where the members we have
  <br>
  <br>lost will be proud to return. We need to truly inhabit the co-operative
  <br>
  <br>spirit which was at the heart of this company from the beginning, and
  <br>
  <br>place value in the many over the few. We need to rekindle the flame
  <br>
  <br>which made PCC a shining beacon in a gray city.
  <br>
  <br>     We need to serve our communities, and we need to reflect the
  <br>
  <br>uniqueness of the communities we serve. We are one PCC, but we serve
  <br>
  <br>different neighborhoods, different customers, and different needs. A
  <br>
  <br>garden thrives through diversity, but it is still one garden. Our
  <br>
  <br>staff and our customers need to feel that their stores belong to them,
  <br>
  <br>that they have ownership and can take pride in the place they work and
  <br>
  <br>shop. We need to be a place worth choosing.
  <br>
  <br>
  <br>     If we are going to embody Integrity, we need to stand by our
  <br>
  <br>words. We need to be a company which values and engenders openness,
  <br>
  <br>honesty, and co-operation. We need to promote empowerment and autonomy
  <br>
  <br>within our stores and our staff, trusting them to make wise decisions.
  <br>
  <br>Every ship needs a captain, but it can't sail smoothly unless the
  <br>
  <br>entire crew is working together. If we trust and rely on each other,
  <br>
  <br>we can weather any storm.
  <br>
  <br>
  <br>     And if we are going to embody Transparency, we need to lay all of
  <br>
  <br>our cards on the table; we need to hear the voices of the larger
  <br>
  <br>community. We need to have an all-store, all-staff, all-member
  <br>
  <br>meeting, with open and direct feedback from the people who work and
  <br>
  <br>shop in our stores. We need to see where we stand as a business, and
  <br>
  <br>we need to see how those resources are being allocated. We are built
  <br>
  <br>on the strength of our staff and the support of our member-owners, and
  <br>
  <br>we need to show that we value that strength and that support by
  <br>
  <br>hearing what they have to say--the good and the bad. We need to know
  <br>
  <br>how we can better serve our staff, our customers, and our communities,
  <br>
  <br>and we need to do it together.
  <br>
  <br>
  <br>PCC: BE A PART OF SOMETHING BIGGER
  <br>
  <br>     I stole that line from our recruiting poster, and I repeat it
  <br>
  <br>here intentionally. If we continue down our current path, we won't be a
  <br>
  <br>part of something bigger, just something larger. We will have transformed from a community of
  <br>
  <br>like-minded individuals who shared a vision into a place that sells groceries.
  <br>
  <br>If our definition of success becomes simply "We make money," we will
  <br>
  <br>have failed in
  <br>
  <br>every way it is possible to fail. We have the chance to stand for
  <br>
  <br>something else, to put our people above our profits, and to show that
  <br>
  <br>it can work. We have the chance to be a force for good in the lives of
  <br>
  <br>our staff, our customers, and our communities. We have a chance to be
  <br>
  <br>an example, to be a catalyst for change--all that is required is that
  <br>
  <br>we choose to do it. We can be the garden, we can be the tree, and we
  <br>
  <br>can be the ship; we can be all of this and more. We can choose to be a
  <br>
  <br>be a part of something bigger.
  <br>
  <br>
  <br>
  <br>     I welcome to opportunity to discuss this with you further, and hope
  <br>
  <br>that my words are heard in the spirit in which they are offered.
  <br>
  <br>
  <br>Yours,
  <br>
  <br>
  <br>Matt Swanson
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
